/* CSS tabs */

.hideme,
.tab_container section {
    display: none;
}

/* set the first link's style and show its div on page load */
.tabs a:first-child,
.tab_container section:first-of-type {
  opacity: 1;
  box-shadow: none;
}
.tab_container section:first-of-type {
  display: block;
  width: 100%;
}

/* specify correct default background for first tab, and its div when targeted: */
/* .cardinal ~ .tabs a:first-child,
.hideme:target ~ .cardinal ~ .tabs a {
  background: var(--cardinalDark);
}
*/

/* if not targeted, un-highlight first tab style… */
:target ~ .tabs a:first-child {
  opacity: .7;
  box-shadow: inset 0px 2px 2px 0px rgba(10, 10, 10, 0.5);
}
/* but allow hover */
:target ~ .tabs a:first-of-type:hover {
  opacity: .8;
}
/* …and hide its div */
:target ~ .tab_container section:nth-of-type(1) {
  display: none;
}

/* highlight the currentl link tab… */
.hideme:nth-of-type(1):target ~ .tabs a:nth-of-type(1),
.hideme:nth-of-type(2):target ~ .tabs a:nth-of-type(2),
.hideme:nth-of-type(3):target ~ .tabs a:nth-of-type(3),
.hideme:nth-of-type(4):target ~ .tabs a:nth-of-type(4) {
  opacity: 1;
  box-shadow: none;
}

/* …and set the targeted link div background, and show its div */
.hideme:nth-of-type(1):target ~ .tab_container section:nth-of-type(1),
.hideme:nth-of-type(2):target ~ .tab_container section:nth-of-type(2),
.hideme:nth-of-type(3):target ~ .tab_container section:nth-of-type(3),
.hideme:nth-of-type(4):target ~ .tab_container section:nth-of-type(4) {
  background: inherit;
  display: block;
  width: 100%;
}
/* end CSS tabs */
