@font-face {
  font-family: "Astro";
  src: local('Times'), url("/assets/fonts/Astro-woff.woff") format('woff2'), url("/assets/fonts/Astro-ttf.ttf");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--foundation);
  font-family: "Times New Roman", Times, Georgia, serif;
  padding: 0 0 0.5em;
  margin: 0;
}
img, img a { border: 0; }
a { outline: 0; }
a:link,
a:visited { color: var(--darkBlue); }
main a:hover { color: var(--lightBlue); }
p, li, dd { letter-spacing: 0.015em; word-spacing: 0.02em; }

.cardinal, .cardinal ~ .tabs a, .modetable th:first-child,
.ray1, .ray1 ~ .tabs a { background: var(--cardinalDark); }
.fixed, .fixed ~ .tabs a, .modetable th:nth-of-type(2),
.ray2, .ray2 ~ .tabs a { background: var(--fixedDark); }
.mutable, .mutable ~ .tabs a, .modetable th:last-child,
.ray3, .ray3 ~ .tabs a { background: var(--mutableDark); }
.ray4, .ray4 ~ .tabs a { background: var(--ray4exo); }
.ray5, .ray5 ~ .tabs a { background: var(--ray5eso); }
.ray6, .ray6 ~ .tabs a { background: var(--ray6exo); }
.ray7, .ray7 ~ .tabs a { background: var(--ray7eso); }
 /* makes text white against mode backgrounds: */
 .modetable th:first-child,
.modetable th:nth-of-type(2),
.modetable th:last-child,
.modetable th a,
dt.cardinal a,
dt.fixed a,
dt.mutable a {
  color: var(--lightTone);
}
.modetable th a {
  display: block;
  text-decoration: none;
}
dt.cardinal a,
dt.fixed a,
dt.mutable a {
  display: block;
  padding: .125em 0 .125em .5em;
  text-decoration: none;
}
.modetable th a,
dt.cardinal,
dt.fixed,
dt.mutable {
  opacity: .75;
  transition: all .25s;
}
.modetable th a:hover,
dt.cardinal:hover,
dt.fixed:hover,
dt.mutable:hover {
  opacity: 1;
}
li.cardinal { color: var(--cardinalDark); }
li.fixed { color: var(--fixedDark); }
li.mutable { color: var(--mutableDark); }
li.cardinal, li.fixed, li.mutable {
  background: inherit;
}
li.cardinal a, li.fixed a,
li.mutable a {
  color: inherit;
}

/* ----- HOME PAGE ----- */
#map,
#mapMobile {
  margin: 0 auto;
}
#map {
  display: none;
}
#mapMobile {
  display: block;
  max-width: 300px;
}
/* menu to change main map */
#mapmenu {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 1em;
  opacity: 0.75;
  font-weight: bold;
  transition: opacity .5s;
}
#mapmenu:hover {
  opacity: 1;
}
#mapmenu span {
  display: block;
  padding: 0.25em 6px;
  text-align: right;
}
#mapmenu label {
  display: block;
  padding: 0.25em 6px;
  border-radius: 4px;
  color: var(--midTone);
  cursor: pointer;
}
#mapmenu label:hover {
  color: var(--foundation);
}
#mapmenu input {
  display: none;
}
#mapmenu input:checked + label {
  background: var(--midTone);
  color: var(--lightTone);
}
/* menu beneath main map */
#crosses {
  display: block;
  line-height: 1.5em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 2px;
}

#menu {
  display: flex;
  justify-content: space-between;
  opacity: .75;
  text-align: center;
  transition: all .5s;
}
#menu:hover {
  opacity: 1;
}
#menu ul {
  display: inline-block;
  box-sizing: border-box;
  width: 32.6%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: var(--paleGrey);
  overflow: auto;
}
#menu li a:link,
#menu li a:visited {
  display: block;
  text-decoration: none;
  line-height: 2em;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-top: 1px var(--lightTone) solid;
}
#menu li a:hover {
  background: var(--lightGrey);
}
#menu .car li:first-child { background: var(--cardinal); }
#menu .fix li:first-child { background: var(--fixed); }
#menu .mut li:first-child { background: var(--mutable); }

#menu .car a:link, .car a:visited { color: var(--cardinal); }
#menu .fix a:link, .fix a:visited { color: var(--fixed); }
#menu .mut a:link, .mut a:visited { color: var(--mutable); }
#menu .car a:hover { color: var(--cardinalDark); }
#menu .fix a:hover { color: var(--fixedDark); }
#menu .mut a:hover { color: var(--mutableDark); }

#menu .car li:first-child a:link, .car li:first-child a:visited,
#menu .fix li:first-child a:link, .fix li:first-child a:visited,
#menu .mut li:first-child a:link, .mut li:first-child a:visited {
  color: var(--lightGrey);
}
#menu .car li:first-child a:hover { background: var(--cardinalDark); color: var(--lightTone); }
#menu .fix li:first-child a:hover { background: var(--fixedDark); color: var(--lightTone); }
#menu .mut li:first-child a:hover { background: var(--mutableDark); color: var(--lightTone); }


/* ----- UTILITY CLASSES AND STYLES ----- */
.icon, .iconbold {
  font-family: "Astro";
}
.iconbold {
  font-weight: bold;
}
.iconText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}
.choose {
  font-size: 1em;
  font-family: inherit;
  border: 1px solid var(--paleGrey);
  outline: none;
  border-radius: 4px;
  background: var(--lightTone);
}
.nowrap {
  white-space: nowrap;
}
.contain {
  overflow: auto;
}
.nospacetop {
  margin-top: 0;
}
.nopaddingtop {
  padding-top: 0;
}
.imgleft {
  margin: 0 auto;
  display: block;
  max-width: 300px;
}

/* not yet used, to replace more specific usage */
.nopaddingbottom {
  padding-bottom: 0;
}
/* not yet used, to replace more specific usage */
.marginbottom1 {
  margin-bottom: 1em;
}
.margintop05 {
  margin-top: .5em;
}

.nomarginbottom, .nomarginbottom p {
  margin-bottom: 0;
}
.inline-graphic {
  height: 1.25em;
  margin-bottom: -.25em;
}
.intro, #markdown-toc, blockquote, .tableintext {
  box-sizing: border-box;
}
.intro, #markdown-toc, blockquote {
  width: 84%;
}
/* .tableintext 84% >800, but mob 92% */
/* also see `.hastable table` and `.triangles table` */


/* ----- MAIN STRUCTURE ----- */
#container {
  position: relative;
  background: var(--brightGrey);
  height: auto;
}
main {
  overflow: auto;
  font-size: 1.2em;
}

#triangle + main,
.singletri + main {
  overflow: visible;
}

#container main dl:last-of-type {
  margin-bottom: .5em;
}
.navlogo {
  position: absolute;
  top: 4px;
  left: 6px;
  z-index: 1000;
  opacity: .8;
  transition: all .4s;
}
.navlogo:hover {
  transform: scale(1.1);
  opacity: 1;
}
h1 {
  position: relative;
  background: var(--deepBlue);
  color: var(--lightTone);
  margin: 0;
  padding: .25em 12px .25em 100px;
  text-align: right;
  font-size: 1.9em;
  letter-spacing: 1px;
  margin-bottom: .5em;
  border-bottom: 1px var(--paleGrey) solid;
  text-shadow: 0px 0px 4px var(--tone01); 
}
h1 a:link,
h1 a:visited {
  color: var(--lightTone);
  text-decoration: none;
  padding-bottom: 1px;
}
h1 a:hover {
  border-bottom: 1px var(--lightTone) solid;
}
h1.ray1, h1.ray2, h1.ray3, h1.ray5, h1.ray6, h1.ray7 {
  color: var(--lightTone);
}
h2 {
  padding: 0 12px;
  font-size: 1.25em;
}
.headerrules h2 {
  padding-top: .75em;
  border-top: 3px solid var(--lightGrey);
}
.headerrules #container h2+dl {
  padding-top: 0;
  padding-bottom: 0;
}
h3.toplinkheader > a {
  font-size: .8em;
  font-weight: normal;
  color: var(--lightTone) !important;
}
h3.toplinkheader > a:hover {
  color: var(--lightBlue) !important;
}
h3.toplinkheader > a,
.toplink a:link, .toplink a:visited {
  text-decoration: none;
  color: var(--lightTone);
  transition: color .25s;
}
h3.toplinkheader > a:hover,
.toplink a:hover {
  color: var(--lightBlue);
}
#markdown-toc .toplink {
  display: none;
}
h3 {
  padding: 0 0 0 12px;
  font-size: 1.15em;
  margin-bottom: .25em;
  color: var(--midTone);
}
h3 + p {
  margin-top: 0;
}
h4 {
  padding: 0 0 0 12px;
}
h3 + h4 {
  margin-top: .5em;
}
/* planet subheadings */
.toplinkheader {
  display: inline-block;
}
/* stronger shadow on yellow background */
h1.ray4,
h1.ray4 a {
  text-shadow: 0px 0px 6px var(--foundation);
}
.crosses h2 + p {
  margin-top: 0.25em;
}
h1 + main h2:first-child {
  clear: both;
}
h3, h3 a:link, h3 a:visited, h3 a:active {
  color: var(--midBlue);
}
h3 a:hover {
  text-decoration: none;
  color: var(--lightBlue);
}

figure {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}
figure .navimg {
  position: relative; /* z-index context */
  z-index: 500; /* above tabbed sections */
}
figure + h2 {
  margin: .5em 0;
  text-align: center;
}
figure + section h2:first-child { /* tables on tabbed pages */
  margin-top: 1em;
}

#content select {
  font: 1em Georgia, sans-serif;
}
.list-blank {
  list-style-type: none;
}
.list-alpha {
  list-style-type: lower-alpha;
  line-height: 1em;
}
#markdown-toc {
  margin: 0 auto 1em;
  font-weight: bold;
  padding: .75em 1em;
  background: var(--paleTone);
  border: 2px solid var(--paleGrey);
  list-style-type: none;
  border-radius: 6px;
}
#markdown-toc li a {
  padding: .25em 0;
  display: inline-block;
}

/* ----- tabs ----- */
.tabbed h1 {
  margin-bottom: 0;
  border-bottom: 0;
}
.tabs {
  display: flex;
  justify-content: center;
  margin: 0 0 .5em;
}
.tabs a:link,
.tabs a:visited {
  margin-left: 2px;
  box-shadow: inset 0px 2px 2px 0px rgba(10, 10, 10, 0.5);
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  opacity: 0.70;
  color: var(--lightTone);
  padding: 4px 10px;
  text-decoration: none;
  transition: all 0.4s;
}
.ray4 ~ .tabs a:link,
.ray4 ~ .tabs a:visited {
  color: var(--midTone);
}
.tabs a:hover {
  opacity: 0.85;
}
.tabs a.active {
  opacity: 1;
  box-shadow: none;
}
.tabs a.active:hover {
  text-decoration: none;
}
.tab_container section {
  min-height: 275px;
}
.hide {
  display: none;
  opacity: 0;
}
.show {
  display: block;
  opacity: 1;
}
/* ----- end tabs ----- */

#container p, dl {
  padding-left: 12px;
  padding-right: 12px;
  line-height: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
#container p + dl {
  padding-top: 0;
}
blockquote dl {
  border: none;
  margin: 0 12px;
  padding: 0;
}
blockquote + dl {
  clear: left;
}
.spaced-dl dt {
  margin-top: 1em;
}
.spaced-dl dd {
  margin-bottom: .5em;
}

#container.textpage h1 + p,
.intro {
  background: var(--pastelBlue);
  font-size: 1.15em;
  margin: 0 auto 1em;
  padding: 0.5em 3%;
  border-radius: 6px;
  font-weight: bold;
  color: var(--fixedDark);
}
#container ol li {
  margin-bottom: 1em;
  margin-right: 12px;
}
.textpage ul, .textpage ol {
  line-height: 1.5em;
  margin-left: 12px;
}
.textpage ul li,
.textpage ol li {
  padding-bottom: .25em;
}
.textpage ul li:last-child,
.textpage ol li:last-child {
  padding-bottom: 0;
}
#container dl,
#container blockquote {
  margin: 0 auto 0;
  padding: 1em 12px 0.5em;
}
#container blockquote {
  /* positioning context for quote marks: */
  position: relative;
  border-left: 4px var(--paleGrey) solid;
  border-right: 4px var(--paleGrey) solid;
  background: var(--paleTone);
}
#container blockquote::before {
  content: "“";
  font-size: 4.5em;
  position: absolute;
  margin: -.30em 0 0 -4px;
  color: var(--paleBlue);
}
#container dd > blockquote::before {
  margin-top: 0;
}
blockquote small:last-child {
  display: block;
  border-top: 1px solid var(--lightGrey);
  margin-top: 0.5em;
  color: var(--midTone);
  text-align: right;
}
#container blockquote:last-child {
  margin-bottom: 1em;
}
#container .refs {
  margin: .5em 0 0;
  padding: 0.5em 10px;
  background-color: var(--lightTone);
  border-top: 1px #889 solid;
  text-align: right;
}
#container .emphasis p {
  margin-left: 2em;
  padding-left: 2em;
  border-left: 10px solid var(--lightGrey);
}
#container dl {
  border-radius: 9px;
}
#container dd p {
  padding-left: 0;
  padding-right: 0;
}
#container blockquote ol,
#container blockquote ul,
#container main blockquote p,
#container .rays blockquote p {
  margin-left: 36px;
}
#container blockquote ol p {
  padding-left: 0;
}
#container blockquote p:first-child {
  margin-top: 0;
}
#container .rays blockquote {
  margin: 1em 24px 1em;
  font-size: 1em;
}
#container blockquote:last-child,
#container dl:last-child {
  margin-bottom: 1em;
}
#container table + blockquote {
  margin-top: 1em;
}


/* ----- planet circles in "planets/" ----- */

.circles {
  display: flex;
  justify-content: center;
  font-family: 'Astro';
  margin: .75em 0 .25em;
}
.circles a {
  width: 50px;
  height: 50px;
  margin: 0 4px;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 42px;
  text-align: center;
  text-shadow: 0px 0px 3px #000;
  border: 2px solid white;
  border-radius: 50%;
  transition: all .5s;
}
/* creates blank space: */
.circles a.hid {
  visibility: hidden;
}
/* override figure flex in "eamain.css" */
.figureblock {
  display: block;
  text-align: center;
}
.circles a:hover {
  color: #fff;
  box-shadow: 0px 0px 8px #000;
  transition: all .25s;
}
.circles a.vul { background: var(--ray1eso); }
.circles a.jup { background: var(--ray2eso); }
.circles a.sat { background: var(--ray3eso); }
.circles a.mer { background: var(--ray4eso); }
.circles a.ven { background: var(--ray5eso); }
.circles a.nep { background: var(--ray6eso); }
.circles a.ura { background: var(--ray7eso); }

.circles a.plu { background: var(--ray1exo); }
.circles a.sun { background: var(--ray2exo); }
.circles a.ear { background: var(--ray3exo); }
.circles a.moo { background: var(--ray4exo); }
.circles a.mar { background: var(--ray6exo); }

.circles a.plu:hover { box-shadow: 0px 0px 8px var(--ray1eso); }
.circles a.plu:hover { border-color: var(--ray1eso); }
.circles a.sun:hover { box-shadow: 0px 0px 10px var(--ray2eso); }
.circles a.sun:hover { border-color: var(--ray2eso); }
.circles a.ear:hover { box-shadow: 0px 0px 8px var(--ray3eso); }
.circles a.ear:hover { border-color: var(--ray3eso); }
.circles a.moo:hover { box-shadow: 0px 0px 10px var(--ray4eso); }
.circles a.moo:hover { border-color: var(--ray4eso); }
.circles a.mar:hover { box-shadow: 0px 0px 10px var(--ray6eso); }
.circles a.mar:hover { border-color: var(--ray6eso); }

/* ----- aspects in "aspects/about/" ----- */

.col4-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: .5em auto 0;
}
.aspects a {
  width: 25%;
}
.aspects figure img {
  background-color: var(--paleTone);
  border-radius: 50%;
  transition: background-color .25s;
}
.aspects figure img:hover {
  background-color: var(--lightTone);
}
.col4-grid figure {
  flex-direction: column;
  margin: 0;
  padding: 6px;
  box-sizing: border-box;
}
.col4-grid figcaption {
  text-align: center;
  height: 2.5em;
  padding-top: .25em;
}
.col4-grid img {
  width: 100%;
  height: auto;
}


/* ----- tables ----- */
.qualities {
  width: 100%;
  margin: 0;
  padding-bottom: 1em;
  border-collapse: collapse;
}
.qualities:last-child {
  padding-bottom: 0;
}
.qualities th,
.qualities td,
.hastable table th,
.hastable table td,
.triangles table th,
.triangles table td {
  border-bottom: 1px var(--lightGrey) solid;
  padding: 0.5em;
  vertical-align: top;
}
.hastable table,
.triangles table {
  margin: 1em auto 0;
  background: var(--paleTone);
}
.hastable table th,
.triangles table th {
  background: var(--brightGrey);
}
.hastable table th,
.hastable table td,
.triangles table th,
.triangles table td {
  text-align: center;
  padding: 0.5em 1.5em;
}
.qualities tr:first-child th,
.qualities tr:first-child td {
  border-top: 1px var(--brightGrey) solid;
}
.qualities th {
  text-align: right;
  background: var(--brightGrey);
  white-space: nowrap;
}
.qualities td {
  background: var(--lightTone);
}
.triangleselect {
  border-top: 2px solid white;
}
.tableintext {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
main blockquote + .qualities {
  margin-top: 1em;
}

/* ----- FOOTER ----- */
footer {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: .5em;
  background: var(--deepBlue);
  color: var(--subtleBlue);
  letter-spacing: 1px;
  line-height: 2em;
}
footer a:link,
footer a:visited {
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 1em;
  transition: color .5s;
}
footer a:hover {
  color: var(--lightTone);
}
footer .date {
  width: 100%;
  text-align: center;
  line-height: normal;
  margin-bottom: 0;
  padding-top: 1em;
  font-size: .75em;
  color: var(--midTone);
  background: var(--foundation);
  transition: color .5s;
}
footer .date:hover {
  color: var(--subtleBlue);
}


/* ----- 570px up (Homepage, markdown-toc) ----- */

@media (min-width: 570px) {
  #mapMobile {
    display: none;
  }
  #map {
    display: block;
    width: 98%;
    margin-top: 3.5em;
    max-width: 920px;
  }
  #menu > a:first-child:hover {
    text-decoration: underline;
  }
  /* small triangles on signs pages: */
  .multiple .navimg {
    margin-left: 4px;
  }
}


/* ----- 620px up ----- */

@media (min-width: 620px) {
  #container, footer {
    max-width: 1200px;
    margin: 0 auto;
  }
  #container {
    position: relative;
  }
  h1 {
    margin: 0 0 1em;
    height: auto;
    padding-left: 0;
    text-align: center;
  }
  h1 + main h2:first-child,
  main h2:first-child {
    margin-top: 0;
  }
  figure {
    justify-content: flex-end;
  }
  figure + h2 {
    text-align: left;
  }
  .tabs a:link,
  .tabs a:visited {
    padding: 4px 16px;
  }
  /* .tableintext {
    width: 90%;
  } */
}


/* ----- 800px up ----- */
@media (min-width: 800px) {
  .imgleft {
    float: left;
    margin-right: 1em;
  }
  .tableintext {
    width: 84%;
  }
  #mapmenu span {
    background: var(--lightGrey);
    text-align: left;
  }
  #mapmenu {
    display: block;
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    top: 4.5em;
    left: 4px;
    width: auto;
    text-align: left;
    background: rgba(255,255,255,0.4);
    border: 1px var(--lightGrey) solid;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
  }
  #mapmenu label {
    padding: 6px;
    border-radius: 0;
  }
}