:root {
/* blues */
  --foundation: rgb(0, 0, 20);
  --deepBlue: rgb(0, 0, 51);
  --darkBlue: rgb(34, 34, 136);
  --midBlue: rgb(51, 51, 102);
  --lightBlue: rgb(85, 85, 204);
  --paleBlue: rgb(135, 135, 254);
  --subtleBlue: rgb(221, 221, 255);
  --pastelBlue: rgb(238, 238, 254);

/* neutrals */
  --tone01: rgb(51, 51, 51);
  --midTone: rgb(102, 102, 102);
  --paleGrey: rgb(187, 187, 187);
  --lightGrey: rgb(204, 204, 204);
  --brightGrey: rgb(221, 221, 221);
  --paleTone: rgb(238, 238, 238);
  --lightTone: rgb(255, 255, 255);
  
/* crosses */
  --cardinal: rgb(204, 51, 51);
  --fixed: rgb(85, 85, 187);
  --mutable: rgb(34, 153, 34);
  --cardinalDark: rgb(153, 0, 0);
  --fixedDark: rgb(34, 34, 136);
  --mutableDark: rgb(0, 102, 0);

/* rays */
  --ray1eso: rgb(189, 1, 1);
  --ray1exo: rgb(255,153,51);
  --ray2eso: rgb(108, 129, 248);
  --ray2exo: rgb(64, 51, 102);
  --ray3eso: rgb(0,153,0);
  --ray3exo: rgb(0, 0, 0);
  --ray4eso: rgb(255, 235, 106);
  --ray4exo: rgb(255, 204, 0);
  --ray5eso: rgb(238, 102, 0);
  --ray5exo: rgb(0,51,102);
  --ray6eso: rgb(255,160,160);
  --ray6exo: rgb(221, 51, 51);
  --ray7eso: rgb(53, 0, 102);
  --ray7exo: rgb(254,254,254);
}
