.minimenu {
  position: fixed;
  top: 7em;
  right: 0;
  display: flex;
  flex-direction: row;
  width: 10em;
  box-sizing: border-box;
  transform: translateX(8em);
  transition: all .5s cubic-bezier(.5, 0, .5, 0);
}
.menutab {
  writing-mode: vertical-lr;
  margin: 0;
  padding: 1em 0;
  background: var(--tone01);
  color: var(--lightTone);
  line-height: 2em;
  text-align: center;
  letter-spacing: .15em;
  transform: rotate(180deg);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-sizing: border-box;
  height: 14em;
  opacity: .4;
  transition: all .5s;
}
.menutab:hover {
  opacity: 1;
}
.menushow {
  transform: translateX(0);
}

/* styles for the actual menu items */
.minilinks {
  display: flex;
  flex-direction: column;
  width: 8em;
  text-align: center;
}
.minilinks a {
  background: rgba(85, 85, 85, .9);
  color: var(--subtleBlue);
  line-height: calc(2em - 1px);
  text-decoration: 0;
  box-sizing: border-box;
  border-top: 1px solid var(--subtleBlue);
}
.minilinks a:first-child { border-top: 0; }
.minilinks a:hover {
  background: #666;
  color: var(--pastelBlue);
}
